In [21]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv("user.csv")

In [23]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [24]:
df.drop("User ID",axis=1,inplace=True)

In [25]:
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    object
 1   Age              400 non-null    int64
 2   EstimatedSalary  400 non-null    int64
 3   Purchased        400 non-null    int64
dtypes: int64(3), object(1)
memory usage: 12.6+ KB

In [27]:
df["Gender"] = df["Gender"].map({"Male":1,"Female":0})

In [28]:
df

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

In [29]:
from sklearn.preprocessing import StandardScaler

In [30]:
sc = StandardScaler()
val = sc.fit_transform(df[["Age","EstimatedSalary"]])

In [31]:
df[["Age","EstimatedSalary"]] = val

In [32]:
df

     Gender       Age  EstimatedSalary  Purchased
0         1 -1.781797        -1.490046          0
1         1 -0.253587        -1.460681          0
2         0 -1.113206        -0.785290          0
3         0 -1.017692        -0.374182          0
4         1 -1.781797         0.183751          0
..      ...       ...              ...        ...
395       0  0.797057        -0.844019          1
396       1  1.274623        -1.372587          1
397       0  1.179110        -1.460681          1
398       1 -0.158074        -1.078938          0
399       0  1.083596        -0.990844          1

[400 rows x 4 columns]

In [39]:
x = df.drop("Purchased",axis = 1)
y = df["Purchased"]

In [34]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [40]:
x

     Gender       Age  EstimatedSalary
0         1 -1.781797        -1.490046
1         1 -0.253587        -1.460681
2         0 -1.113206        -0.785290
3         0 -1.017692        -0.374182
4         1 -1.781797         0.183751
..      ...       ...              ...
395       0  0.797057        -0.844019
396       1  1.274623        -1.372587
397       0  1.179110        -1.460681
398       1 -0.158074        -1.078938
399       0  1.083596        -0.990844

[400 rows x 3 columns]

In [36]:
from sklearn.model_selection import train_test_split

In [42]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [43]:
x_train

     Gender       Age  EstimatedSalary
103       0 -0.444614         2.327385
348       1  0.128465         0.213115
292       1  1.656675        -0.902749
6         0 -1.017692         0.418669
132       1 -0.731153         0.506764
..      ...       ...              ...
206       0  1.656675         1.769453
34        1 -1.017692         0.594859
156       1  0.797057        -0.315452
354       1 -0.158074         0.859142
337       1 -0.253587         0.271845

[320 rows x 3 columns]

In [44]:
x_test

     Gender       Age  EstimatedSalary
19        0  0.988083        -1.196398
271       0  2.038728         0.183751
235       1  0.797057         0.271845
157       1 -0.826666         0.154386
286       0 -0.062561        -0.227357
..      ...       ...              ...
309       0  0.032952        -0.579736
390       1  0.988083        -1.078938
226       0 -0.158074         1.651993
90        1 -1.495258         0.330575
338       0  0.032952        -0.432911

[80 rows x 3 columns]

In [45]:
y_train

103    1
348    0
292    1
6      0
132    0
      ..
206    1
34     0
156    0
354    1
337    0
Name: Purchased, Length: 320, dtype: int64

In [46]:
y_test

19     1
271    1
235    1
157    0
286    0
      ..
309    0
390    1
226    1
90     0
338    0
Name: Purchased, Length: 80, dtype: int64

In [47]:
from sklearn.neighbors import KNeighborsClassifier
kn = KNeighborsClassifier(n_neighbors=5)
kn.fit(x_train,y_train)

KNeighborsClassifier()

In [48]:
y_pred = kn.predict(x_test)

In [49]:
y_pred

array([1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0])