In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Expanded_Destinations.csv")

In [3]:
df

,DestinationID,Name,State,Type,Popularity,BestTimeToVisit
0,1,Taj Mahal,Uttar Pradesh,Historical,8.691906,Nov-Feb
1,2,Goa Beaches,Goa,Beach,8.605032,Nov-Mar
2,3,Jaipur City,Rajasthan,City,9.225372,Oct-Mar
3,4,Kerala Backwaters,Kerala,Nature,7.977386,Sep-Mar
4,5,Leh Ladakh,Jammu and Kashmir,Adventure,8.399822,Apr-Jun
...,...,...,...,...,...,...
995,996,Taj Mahal,Uttar Pradesh,Historical,8.133818,Nov-Feb
996,997,Goa Beaches,Goa,Beach,8.203519,Nov-Mar
997,998,Jaipur City,Rajasthan,City,8.308435,Oct-Mar
998,999,Kerala Backwaters,Kerala,Nature,8.961741,Sep-Mar
999,1000,Leh Ladakh,Jammu and Kashmir,Adventure,8.939036,Apr-Jun